@use "../util" as u;

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: u.rem(30);

  @include u.breakpoint("medium") {
    grid-template-columns: repeat(2, 1fr);
  }

  @include u.breakpoint("large") {
    grid-template-columns: repeat(4, 1fr);
  }
}


.card {
  background: var(--dark-card);
  color: var(--dark-text1);
  text-align: center;
  padding: u.rem(25);
  border-radius: u.rem(5);
  transition: background-color 125ms ease-in-out;
  cursor: pointer;

  &:hover {
    background: var(--dark-card-hover);
  }
  &--facebook {
    border-top: u.rem(5) solid var(--facebook);
  }

  &--twitter {
    border-top: u.rem(5) solid var(--twitter);
  }

  &--instagram {
    position: relative;
    padding-top: u.rem(30);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: u.rem(5);
      background: linear-gradient(225deg, var(--instagram-start) 0%,
              var(--instagram-middle) 50.91%,
              var(--instagram-end) 100%);
      border-top-left-radius: u.rem(5);
      border-top-right-radius: u.rem(5);
    }
  }


  &--youtube {
    border-top: u.rem(5) solid var(--youtube);
  }

  &__platform {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: u.rem(28);
  }

  &__subtitle {
    font-size: u.rem(14);
    font-weight: 700;
    margin: 0;
  }

  &__icon {
    margin-right: u.rem(8);
    height: u.rem(20);
  }

  &__username {
    font-size: u.rem(12);
    font-weight: bold;
  }

  &__followers {
    margin-bottom: u.rem(25);
  }

  &__count {
    color: var(--light-bg);
    font-weight: bold;
    letter-spacing: u.rem(-2);
    line-height: 1;
    margin-bottom: u.rem(4);

    &--big {
      font-size: u.rem(56);
    }

    &--small {
        font-size: u.rem(32);
    }

  }

  &__label {
    font-size: u.rem(12);
    font-weight: normal;
    letter-spacing: u.rem(5);
    text-transform: uppercase;
    color: var(--dark-text1)
  }

  &__change {
    font-size: u.rem(12);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: u.rem(4);

    &--up {
      color: var(--limegreen);
    }

    &--down {
      color: var(--brightred);
    }

    &__number {
      margin: 0;
    }
  }
}